@using JsonTestUseThisProject.Models
@model IEnumerable<JsonTestUseThisProject.Models.JsonData>

@{
    ViewBag.Title = "Index";
}

@* ----------- View all ----------- *@

<h1>View All</h1>

<div style="font-family: Arial">
    <ul>
        @foreach (JsonData item in @Model)
        {
        <li>
            <a href="@Url.Action("Details", new { id = item.id})">@item.id</a>
        </li>
        }
    </ul>
</div>




@* ----------- Selected by ID ----------- *@

<h1>Select by ID</h1>
@{
    JsonTestUseThisProject.Models.JsonData jsonDATA = new JsonTestUseThisProject.Models.JsonData();

    jsonDATA = Model.FirstOrDefault(x => x.id == 1);
    <p>
        <p> Chosed ID:  @jsonDATA.id </p>

        ID: @jsonDATA.id<br/>
        Position: @jsonDATA.actualPos<br/>
        Status: @jsonDATA.status<br />
    </p>
}



